<ion-header>
  <ion-navbar>
    <ion-title>
      Convertor
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ul>
    <li *ngFor="let c of countries_array">
     <span class="con-title"> {{c.symbols}}</span>
    </li>
  </ul> 

</ion-content>
